.OrderForm {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;

  transition: all 150ms linear;
}
.OrderForm.active {
  opacity: 1;
  pointer-events: all
}
.popup {
  padding: 20px 50px;
  background-color: white;
}

.popup form {
  display: flex;
  flex-direction: column;
}
.popup form input {
  width: 100%;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  border: none;
  padding-left: 10px;
  border: 1px solid rgba(0,0,0,0.3);
}
.popup form label{
  margin-bottom: 10px;
}
.popup .Btn{
  margin-top: 15px;
  display: block;
  text-align: center;
}